# general exclusions
.DS_Store


# exclude changes to root directory
*
/.*/

# Explicit inclusions
!*/
!/.github/**
!/.vscode/**

!.editorconfig
!.eslintrc
!.gitattributes
!.gitignore
!.gitmodules
!.npmrc
!.prettierignore
!.prettierrc.json

!igniter.config.mjs
!a318ceo-igniter.config.mjs
!a319ceo-igniter.config.mjs
!a320ceo-igniter.config.mjs
!a321neo-igniter.config.mjs
!jsconfig.json

!Cargo.lock
Cargo.toml
!/.cargo/config.toml
!rust-toolchain.toml

!hsim-a318ceo/src/base/manifest-base.json
!hsim-a319ceo/src/base/manifest-base.json
!hsim-a320ceo/src/base/manifest-base.json
!hsim-a321neo/src/base/manifest-base.json
!package.json

!jest.config.js
!/jest/**

!CMakeLists.txt

!/branding/*

# Project folders

/hsim-a21n-common/*
/hsim-a318-common/*
/hsim-a319-common/*
/hsim-a320-common/*
!/hsim-a21n-common/src/
!/hsim-a21n-common/src/**
!/hsim-a318-common/src/
!/hsim-a318-common/src/**
!/hsim-a319-common/src/
!/hsim-a319-common/src/**
!/hsim-a320-common/src/
!/hsim-a320-common/src/**

/hsim-a318ceo/*
!/hsim-a318ceo/README.md
!/hsim-a318ceo/mach.config.js
!/hsim-a318ceo/.env
!/hsim-a318ceo/docs/
!/hsim-a318ceo/docs/**
!/hsim-a318ceo/src/
!/hsim-a318ceo/src/**

/hsim-a318ceo/project/_PackageInt
/hsim-a318ceo/project/Packages/*
/hsim-a318ceo/project/PackagesSources/*
!/hsim-a318ceo/project/**

/build-a318ceo/out
/build-a318ceo/src/base/horizonsim-lvfr-airbus-a318-ceo/SimObjects/Airplanes/**/model/*.bin
/build-a318ceo/src/base/horizonsim-lvfr-airbus-a318-ceo/SimObjects/Airplanes/**/model/*.gltf
/build-a318ceo/src/systems/instruments/aceBundles
/build-a318ceo/src/systems/instruments/buildSrc/custom/*

/build-a318ceo/src/localization/flypad/downloaded/*.json
/build-a318ceo/src/localization/msfs/downloaded/*.locPak
/build-a318ceo/src/systems/instruments/src/EFBcfm/dist
/build-a318ceo/src/systems/instruments/src/EFBcfm/web/

/hsim-a319ceo/*
!/hsim-a319ceo/README.md
!/hsim-a319ceo/mach.config.js
!/hsim-a319ceo/.env
!/hsim-a319ceo/docs/
!/hsim-a319ceo/docs/**
!/hsim-a319ceo/src/
!/hsim-a319ceo/src/**

/hsim-a319ceo/project/
!/hsim-a319ceo/project/PackageDefinitions/
!/hsim-a319ceo/project/PackagesMetadata/
!/hsim-a319ceo/project/HorizionSimulationsA319ceo.xml

/build-a319ceo/out
/build-a319ceo/src/base/horizonsim-lvfr-airbus-a319-ceo/SimObjects/Airplanes/**/model/*.bin
/build-a319ceo/src/base/horizonsim-lvfr-airbus-a319-ceo/SimObjects/Airplanes/**/model/*.gltf
/build-a319ceo/src/systems/instruments/aceBundles
/build-a319ceo/src/systems/instruments/buildSrc/custom/*

/build-a319ceo/src/localization/flypad/downloaded/*.json
/build-a319ceo/src/localization/msfs/downloaded/*.locPak
/build-a319ceo/src/systems/instruments/src/EFBcfm/dist
/build-a319ceo/src/systems/instruments/src/EFBcfm/web/
/build-a319ceo/src/systems/instruments/src/EFBiae/dist
/build-a319ceo/src/systems/instruments/src/EFBiae/web/

/hsim-a320ceo/*
!/hsim-a320ceo/README.md
!/hsim-a320ceo/mach.config.js
!/hsim-a320ceo/.env
!/hsim-a320ceo/docs/
!/hsim-a320ceo/docs/**
!/hsim-a320ceo/src/
!/hsim-a320ceo/src/**

/hsim-a320ceo/project/_PackageInt
/hsim-a320ceo/project/Packages/*
/hsim-a320ceo/project/PackagesSources/*
!/hsim-a320ceo/project/**

/build-a320ceo/out
/build-a320ceo/src/base/horizonsim-lvfr-airbus-a320-ceo/SimObjects/Airplanes/**/model/*.bin
/build-a320ceo/src/base/horizonsim-lvfr-airbus-a320-ceo/SimObjects/Airplanes/**/model/*.gltf
/build-a320ceo/src/systems/instruments/aceBundles
/build-a320ceo/src/systems/instruments/buildSrc/custom/*

/build-a320ceo/src/localization/flypad/downloaded/*.json
/build-a320ceo/src/localization/msfs/downloaded/*.locPak
/build-a320ceo/src/systems/instruments/src/EFB/dist
/build-a320ceo/src/systems/instruments/src/EFB/web/

/hsim-a321neo/*
!/hsim-a321neo/README.md
!/hsim-a321neo/mach.config.js
!/hsim-a321neo/.env
!/hsim-a321neo/docs/
!/hsim-a321neo/docs/**
!/hsim-a321neo/src/
!/hsim-a321neo/src/**

/hsim-a321neo/project/_PackageInt
/hsim-a321neo/project/Packages/*
/hsim-a321neo/project/PackagesSources/*
!/hsim-a321neo/project/**

/build-a321neo/out
/build-a321neo/src/base/horizonsim-lvfr-airbus-a321-neo/SimObjects/Airplanes/**/model/*.bin
/build-a321neo/src/base/horizonsim-lvfr-airbus-a321-neo/SimObjects/Airplanes/**/model/*.gltf
/build-a321neo/src/systems/instruments/aceBundles
/build-a321neo/src/systems/instruments/buildSrc/custom/*

/build-a321neo/src/localization/flypad/downloaded/*.json
/build-a321neo/src/localization/msfs/downloaded/*.locPak
/build-a321neo/src/systems/instruments/src/EFB/dist
/build-a321neo/src/systems/instruments/src/EFB/web/

!/scripts/**

!/tools/**
/tools/fdr2csv/*.exe
/tools/fdr2csv/build/
/tools/fdr2csv/cmake-build*

# avoid issues when switching branches during transistion from old to new structure
/src/
/horizonsim-lvfr-airbus-a318-ceo/
/horizonsim-lvfr-airbus-a318-ceo-lock-highlight/
/horizonsim-lvfr-airbus-a319-ceo/
/horizonsim-lvfr-airbus-a319-ceo-lock-highlight/
/horizonsim-lvfr-airbus-a320-ceo/
/horizonsim-lvfr-airbus-a320-ceo-lock-highlight/
/horizonsim-lvfr-airbus-a321-neo/
/horizonsim-lvfr-airbus-a321-neo-lock-highlight/

# explicit exclusions
/.env
node_modules/
obj/
target/
*.tgz
*.wasm
!Cargo*.toml

/build-a318ceo/*
/build-a319ceo/*
/build-a320ceo/*
/build-a321neo/*
/fbw-common/*
