# general exclusions
.DS_Store

# exclude changes to root directory
*
/.*/

# Explicit inclusions
!*/
!/.github/**
!/.vscode/**

!.editorconfig
!.eslintrc
!.gitattributes
!.gitignore
!.npmrc
!.prettierignore
!.prettierrc.json

!igniter.config.mjs
!jsconfig.json

!Cargo.lock
!Cargo.toml
!/.cargo/config.toml
!rust-toolchain.toml

!qbt-a321ec/src/base/manifest-base.json
!package.json

!jest.config.js
!/jest/**

!CMakeLists.txt

# Project folders

/hdw-common/*
!/hdw-common/src/
!/hdw-common/src/**

/qbt-a321ec/*
!/qbt-a321ec/README.md
!/qbt-a321ec/mach.config.js
!/qbt-a321ec/.env
!/qbt-a321ec/docs/
!/qbt-a321ec/docs/**
!/qbt-a321ec/src/
!/qbt-a321ec/src/**

/qbt-a321ec/out
/qbt-a321ec/src/base/qbitsim-aircraft-a321-251/SimObjects/Airplanes/qbitsim-aircraft-a321-251/model/*.bin
/qbt-a321ec/src/base/qbitsim-aircraft-a321-251/SimObjects/Airplanes/qbitsim-aircraft-a321-251/model/*.gltf
/qbt-a321ec/src/systems/instruments/aceBundles
/qbt-a321ec/src/systems/instruments/buildSrc/custom/*

/qbt-a321ec/src/localization/flypad/downloaded/*.json
/qbt-a321ec/src/localization/msfs/downloaded/*.locPak
/qbt-a321ec/src/systems/instruments/src/EFB/dist
/qbt-a321ec/src/systems/instruments/src/EFB/web/

/qbt-a321ec-liveries/*
!/qbt-a321ec-liveries/README.md
!/qbt-a321ec-liveries/mach.config.js
!/qbt-a321ec-liveries/.env
!/qbt-a321ec-liveries/docs/
!/qbt-a321ec-liveries/docs/**
!/qbt-a321ec-liveries/src/
!/qbt-a321ec-liveries/src/**

!/scripts/**

!/tools/**
/tools/fdr2csv/*.exe
/tools/fdr2csv/build/
/tools/fdr2csv/cmake-build*

# avoid issues when switching branches during transistion from old to new structure
/src/
/qbitsim-aircraft-a321-251/
/qbitsim-aircraft-a321-251-lock-highlight/
/qbitsim-aircraft-a321-251/
/qbitsim-aircraft-a321-251-lock-highlight/

# explicit exclusions
/.env
node_modules/
obj/
target/
*.tgz
*.wasm

/qbt-a321ec/src/project/Packages
/qbt-a321ec/src/project/_PackageInt
/build-a321EC/
/build-common/