/* temp_stylePlugin:ni:sha-256;r8CNYfCG7LKqVhn7fU5OGijl70Vv59WoMipDJdVXRvQ */
.SelfTest {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  border: none;
}
.SelfTestBackground {
  fill: #040404;
}
.SelfTestText {
  font-size: 24px;
  fill: #00ff00;
  visibility: visible !important;
  text-anchor: middle;
  font-family: "Ecam", monospace;
}
.MaintenanceMode {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  border: none;
}
.EngineeringTestMode {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 999;
  visibility: visible !important;
  background-image: url(/Images/hs-a320/Common/thalesTest.svg);
  background-size: cover;
  font-family: "Ecam", monospace;
}
.EngineeringTestModeText {
  font-size: 21px;
  color: black;
  font-family: "Ecam", monospace;
}

/* temp_stylePlugin:ni:sha-256;CKCNdNVaYh4eIlRvuKlYrkuJgugRmPVe-OsvyffdzFc */
.GaugeComponent .Show {
  display: block;
}
.GaugeComponent .Hide {
  display: none;
}
.GaugeComponent .Gauge {
  stroke: #ffffff;
  stroke-width: 2;
  fill: none;
}
.GaugeComponent .GaugeInactive {
  stroke: #e68000;
  stroke-width: 2;
  fill: none;
}
.GaugeComponent .GaugeText {
  stroke: #ffffff;
  font-size: 17px;
}
.GaugeComponent .GaugeIndicator {
  stroke: #00ff00;
  stroke-width: 3;
  fill: none;
}
.GaugeComponent .GaugeThrustLimitIndicator {
  stroke: #e68000;
  stroke-width: 3;
  fill: none;
}
.GaugeComponent .GaugeThrustLimitIndicatorFill {
  stroke: #e68000;
  stroke-width: 3;
  fill: #e68000;
}

/* temp_stylePlugin:ni:sha-256;biJzDcMDf0T9EuP96cRAxfw7ihHot2HwWzOjhnHRY_E */
@font-face {
  font-family: "Ecam";
  src: url(/Fonts/hs-a320/ECAMFontRegular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
.ewd-svg {
  position: absolute;
  width: 768px;
  height: 768px;
  background: #040404;
  font-family: "Ecam", monospace !important;
}
.ewd-svg .EWDWarningTextLeft {
  fill: white;
  font-size: 1.55em;
  letter-spacing: 0.047em;
}
.ewd-svg tspan {
  white-space: pre;
}
.ewd-svg text,
.ewd-svg tspan {
  fill: #ffffff;
  stroke: none !important;
}
.ewd-svg text.Standard,
.ewd-svg tspan.Standard {
  font-size: 22px;
}
.ewd-svg text.Medium,
.ewd-svg tspan.Medium {
  font-size: 20px;
}
.ewd-svg text.Large,
.ewd-svg tspan.Large {
  font-size: 26px;
}
.ewd-svg text.EWDWarn,
.ewd-svg tspan.EWDWarn {
  font-size: 24px;
  letter-spacing: 1.75px;
}
.ewd-svg text.Huge,
.ewd-svg tspan.Huge {
  font-size: 30px;
}
.ewd-svg text.Cyan,
.ewd-svg tspan.Cyan {
  fill: #00ffff !important;
}
.ewd-svg text.Green,
.ewd-svg tspan.Green {
  fill: #00ff00 !important;
}
.ewd-svg text.Amber,
.ewd-svg tspan.Amber {
  fill: #e68000;
}
.ewd-svg text.Red,
.ewd-svg tspan.Red {
  fill: #ff0000;
}
.ewd-svg text.Magenta,
.ewd-svg tspan.Magenta {
  fill: #ff94ff;
}
.ewd-svg text.Center,
.ewd-svg tspan.Center {
  text-anchor: middle !important;
}
.ewd-svg text.End,
.ewd-svg tspan.End {
  text-anchor: end !important;
}
.ewd-svg text.GreenTextPulse,
.ewd-svg tspan.GreenTextPulse {
  animation: pulsing 1s step-end infinite;
}
@keyframes pulsing {
  0%, 100% {
    fill: #00ff00;
  }
  50% {
    fill: green;
  }
}
.ewd-svg text.Underline,
.ewd-svg tspan.Underline {
  text-decoration: underline;
  text-decoration-color: #e68000;
}
.ewd-svg .Separator {
  stroke: lightgray;
  stroke-width: 4;
  fill: none;
}
.ewd-svg .AmberLine {
  stroke: #e68000 !important;
  stroke-width: 2;
  fill: none;
}
.ewd-svg .GreenLine {
  stroke: #00ff00 !important;
  stroke-width: 2;
  fill: none;
}
.ewd-svg .WhiteLine {
  stroke: #ffffff !important;
  stroke-width: 2;
  fill: none;
}
.ewd-svg .RedLine {
  stroke: #ff0000 !important;
  stroke-width: 2;
  fill: none;
}
.ewd-svg .BackgroundLine {
  stroke: #040404 !important;
  stroke-width: 2;
  fill: #040404;
}
.ewd-svg .BackgroundFill {
  fill: #040404 !important;
}
.ewd-svg .GreenFill {
  fill: #00ff00 !important;
  stroke: none;
}
.ewd-svg .Show {
  display: block;
}
.ewd-svg .Hide {
  display: none;
}
.ewd-svg .DonutThrottleIndicator {
  fill: none;
  stroke-width: 2px;
  stroke: #00ffff;
}
.ewd-svg .GreenPulse {
  animation: green-pulse 1s step-end infinite;
  stroke: none !important;
}
@keyframes green-pulse {
  0%, 100% {
    fill: #00ff00;
  }
  50% {
    fill: hsl(120, 100%, 20%);
  }
}
.ewd-svg .GreenPulseNoFill {
  animation: green-pulse 1s step-end infinite;
}
@keyframes green-pulse {
  0%, 100% {
    stroke: #00ff00;
  }
  50% {
    stroke: hsl(120, 100%, 20%);
  }
}
.ewd-svg .DarkGreyBox {
  stroke: #787878;
  fill: none;
  stroke-width: 2;
}
.ewd-svg .AmberBox {
  stroke: #e68000;
  fill: none;
  stroke-width: 2;
}
.ewd-svg .LightGreyBox {
  stroke: none;
  fill: lightgray;
  opacity: 0.2;
}
.ewd-svg .SlatsSmallWhite,
.ewd-svg .FlapsSmallWhite {
  stroke: #ffffff;
  stroke-width: 2px;
  stroke-linejoin: bevel;
}
.ewd-svg .SlatsSmallCyan,
.ewd-svg .FlapsSmallCyan {
  stroke: #00ffff;
  stroke-width: 2px;
  stroke-linejoin: bevel;
}
.ewd-svg .Slats,
.ewd-svg .Flaps {
  stroke: #00ff00 !important;
  stroke-width: 2px;
  fill: none;
  stroke-linejoin: bevel !important;
}
