/* temp_stylePlugin:ni:sha-256;tk3qE8TtB6Sb0ynAJJucaGjESeb5nqR7dfsr7d1wDaA */
@font-face {
  src: url(/Fonts/hs-a320/AirbusRMP.ttf) format("truetype");
  font-family: "Digital";
  font-style: normal;
  font-weight: 900;
}
.atc-svg {
  background-color: hsl(55, 82%, 2%);
  box-shadow: inset 0px 0px 110px -20px rgba(255, 175, 0, 0.5);
  height: 100%;
  width: 100%;
  left: 0;
  opacity: 0.5;
}
text {
  alignment-baseline: central;
  font-family: Digital;
  fill: hsl(40, 100%, 50%);
  font-size: 100px;
  text-anchor: start;
}
